@import '~nativescript-theme-core/css/core.light.css';

button, label{
    text-align: center;    
}

gridlayout{
    background-color: black;
}

label {
    font-size: 36;
    color: rgb(255, 255, 255);
}

label.result {
    font-size: 42;
    text-align: center;
}

button{
    font-size: 36;
    width: 100%;
}

.controls{
    background-color: rgb(255, 145, 0);
    color:white;
}

.numbers{
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
}